ul{list-style: none;}

body{
    color: #646464;
    font-size: 14px;
    font-family: 华文细黑, serif;
    background-color: #f6f4ff;
}
.container{
    width:100%;
    min-width: 1300px;
    height:fit-content;
    min-height: 700px;
    margin:0 auto;
    padding: 10px 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    /*background-color: #2a6496;
    border:1px solid #2a6496;*/
    clear:both;
}
.top{
    width: 100%;
    height: 20%;
    /*border:1px solid #3c3c3c;*/
    padding-bottom: 1px;
    box-shadow: 0 5px 5px #e8e8e8;
}
.head{
    width:100%;
    height:10%;
    margin:0 auto;
    text-indent: 5em;
    /*border:1px solid #2a6496;*/
}
.head h1{
    font-family: 华文楷体 serif;
    font-weight: bolder;
    font-size: 35px;
    color:#1b6d85;
}
.menu{
    width:100%;
    height: 40px;
    /*border:1px solid #021A27;*/
    margin:0 auto;

}
.menu ul{
    width: 100%;
    min-width: 1300px;
    height: 40px;
    margin:0 auto;
    padding:0;
    /*border:1px solid #021A27;*/
    clear:both;
}
.menu ul li{
    display: block;
    width:16.666%;
    height:40px;
    float: left;
    margin-left: 0;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color:#FFFFFF;
    background-color: #1b6d85;
    /*resize: both;设置盒子可以自由缩放*/
}
.menu a{
    text-decoration: none;
    opacity: 0.9;
    color: #a7c6d6;
}
.menu a:visited{
    color: #a5c1d1;
}
.menu a:hover{
    color:#FFFFFF;
    opacity: 1;
    font-size: 20px;
}
/*body.pass .menul ul li.list{
    color:#FFFFFF;
    opacity: 1;
    font-size: 20px;
}*/
.content{
    width:100%;
    height: fit-content;
    min-height: 500px;
    margin: 10px 0;
    /*padding-top: 10px;*/
    /*border: 1px solid #070707;*/
    clear:both;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}
.content ul#list {
    width:97%;
    height: fit-content;
    min-height: 550px;
    display: block;
    margin:0 auto;
    /*border:1px solid #1b6d85;*/
    clear: both;

}
.content ul#list  li{
    display: block;
    width: 300px;
    height: 200px;
    color: rgb(66, 147, 174);
    float: left;
    margin:40px;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    border: 1px solid rgba(30, 127, 154, 0.89);
    background-color: #FFFFFF;

}
.content ul#list li:hover{
    width:320px;
    height:210px;
    margin:35px;
    box-shadow: 5px 5px 10px #8d8d8d;
    border:1px solid #FFFDEE;
    font-size:40px;

}
footer{
    width: 100%;
    height: auto;
    float: end;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
    font-family: 幼圆, serif;
    text-align: center;
    font-size: 12px;
    clear: both;
}
