ul{list-style: none;}

body{
    color:#3c3c3c;
    font-size: 14px;
    font-family: 华文细黑, serif;
    background-color: #f6f4ff;
}
.container{
    width:90%;
    min-width: 1200px;
    height:fit-content;
    min-height: 700px;
    margin:0 auto;
    padding: 10px auto;
    /*background-color: #2a6496;
    border:1px solid #2a6496;*/
    clear:both;
}
.head{
    width:100%;
    height:15%;
    margin:0 auto;
    padding-top: 5px;
    text-indent: 7em;
    /*border:1px solid #2a6496;*/
}
.head h1{
    font-family: BrowalliaUPC serif;
    font-size: 50px;
    color:#1b6d85;
}
.menu{
    width:100%;
    height: 40px;
    /*border:1px solid #021A27;*/
    margin:0 auto;

}
.menu ul{
    width: 90%;
    height: 40px;
    margin:0 30px;
    padding-left:55px;
    /*border:1px solid #021A27;*/
}
.menu ul li{
    display: block;
    width:180px;
    height:40px;
    float: left;
    margin-left: 0;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color:#FFFFFF;
    background-color: #1b6d85;
}
.menu a{
    text-decoration: none;
    opacity: 0.9;
    color: #a7c6d6;
}
.menu a:visited{
    color: #a5c1d1;
}
.menu a:hover{
    color:#FFFFFF;
    opacity: 1;
    font-size: 20px;
}
/*body.pass .menul ul li.list{
    color:#FFFFFF;
    opacity: 1;
    font-size: 20px;
}*/
hr{
    border:1px solid #1b6d85;
    margin:0 85px;
    padding-top:0;
}
.content{
    width:94%;
    height: fit-content;
    margin: 5px 30px;
    padding-top: 10px;
    /*border: 1px solid #070707;*/
    clear:both;
}
.content ul {
    width:95%;
    height: fit-content;
    min-height: 500px;
    display: block;
    margin:0;
    /*border:1px solid #1b6d85;*/
    text-align: center;
    clear: both;

}
.content ul li{
    display: block;
    width: 300px;
    height: 200px;
    color: rgb(66, 147, 174);
    float: left;
    margin:25px;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    border: 1px solid rgba(30, 127, 154, 0.89);
    background-color: #FFFFFF;
}
.content ul li:hover{
    width:320px;
    height:210px;
    margin:20px;
    box-shadow: 5px 5px 10px #8d8d8d;
    border:1px solid #FFFDEE;
}
footer{
    width: 100%;
    height: auto;
    float: end;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
    font-family: 幼圆, serif;
    text-align: center;
    clear: both;
}
